* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    color: white;
    background-color: rgb(120, 29, 53);
}

.message-form {
    display: flex;
    margin-top: 1em;
}

.message-box {
    display: flex;
    height: 5em;
    padding-left: 1em;
    border-radius: 1em;
    width: 75%;
    font-size: larger;
    border-style: none;
}

.message-send {
    display: flex;
    padding: 1em;
    border-radius: 1em;
    margin-left: auto;
    display: inline-flex;
    align-items: center; 
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.chat {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 75%;
}

.message-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(226, 216, 255);
    border-radius: 1em;
    padding: 1em;
    overflow: scroll;
    height: 50em;
}

.user-message {
    display: flex;
    flex-direction: column;
    background-color: rgb(182, 88, 127);
    border-radius: 1em;
    margin: 1em 0em;
    padding: 1em;
    animation-duration: 0.5s;
    animation-name: animate-grow;
}
.message {
    background-color: azure;
    border-radius: 1em;
    margin-top: 1em;
    padding: 1em;
    color:rgb(120, 29, 53)
}

.from-user {
    display: flex;
    margin-left: 1em;
    color: white;
    margin-left: auto;
}

@keyframes animate-fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @keyframes animate-grow {
      0% {scale: 0;}
      100% {scale: 1;}
  }